body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1, h2, h3 {
    color: #333;
}

input[type="number"], input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

#resetButton {
    background-color: firebrick;
}

.flex {
    display: flex;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#teams-list div {
    margin-bottom: 20px;
}

hr {
    border: 1px solid #ccc;
}